<nav
  class="navbar navbar-expand-lg bg-body-tertiary sticky-top bg-pink shadow p-3 mb-5 rounded"
>
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <div class="anim me-4"></div>
      <span>Kuba Nowoszyński</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto text-center">
        <a class="nav-link" id="projectsLink">Projects</a>
        <a class="nav-link" id="aboutLink">About me</a>
        <a
          class="nav-link"
          target="_blank"
          href="https://github.com/Kuba-Nowoszynski"
          ><i class="fa-brands fa-github"></i
        ></a>
      </div>
    </div>
  </div>
</nav>
