<% layout('./layout/boilerplate') -%>
<div class="row">
  <div class="col-lg-5 offset-lg-3">
    <div
      class="alert alert-danger d-flex flex-column p-2 text-center"
      role="alert"
    >
      <img
        src="https://images.unsplash.com/photo-1555861496-0666c8981751?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
        alt="Error"
        class="rounded img-fluid errorImg"
      />
      <hr />
      <h4 class="alert-heading fw-bold">ERROR 404 Not Found</h4>
      <p>
        Go to the
        <a href="/" class="text-info homeLink d-inline-block">Home page</a>
      </p>
    </div>
  </div>
</div>
