<% layout('./layout/boilerplate') -%>
<div class="card shadow mb-3">
  <div class="row g-0">
    <div class="col-md-5 col-lg-4">
      <img
        src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.6435-9/68930188_1399904160148972_6750152434129043456_n.jpg?_nc_cat=105&cb=99be929b-59f725be&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=ULPuvgZTgzMAX8dxdr3&_nc_ht=scontent-waw1-1.xx&oh=00_AfBeFJ4Tj817Tx1z48bAfMc9lPlS6UzB80nEJbefT2YkLg&oe=64CFFC0B"
        class="img-fluid rounded"
        alt="Photo"
      />
    </div>
    <div
      class="col-md-7 col-lg-8 card-body pb-md-0 d-flex flex-column justify-content-evenly"
    >
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="mb-3 mb-md-0">
          <h5 class="card-title resFS">Kuba Nowoszyński</h5>
          <h6 class="card-subtitle resFS fw-bold text-info">
            Full Stack Developer
          </h6>
        </div>
        <h5 class="card-title fw-light fs-6 mb-3 mb-md-0 me-md-3">
          <a href="mailto:jakubnowoszynski@gmail.com"
            ><i class="fa-regular fa-envelope"></i>
            jakubnowoszynski@gmail.com</a
          >
        </h5>
      </div>
      <div class="">
        <p class="card-text fw-normal my-lg-4 text-body-secondary">
          <span class="text-primary-emphasis fw-medium"
            >Welcome to my portfolio</span
          >, a testament to my passion for web development. With proficiency in
          technologies such as
          <span class="text-primary-emphasis fw-medium"
            >React, Express, JavaScript, and HTML/CSS</span
          >, I am equipped to craft captivating user experiences and build
          robust web applications.
        </p>
        <p class="card-text fw-normal mb-auto text-body-secondary">
          If you are seeking a skilled developer to collaborate on your next
          project, I would be thrilled to discuss how my skills can contribute
          to your vision.
        </p>
      </div>
    </div>
  </div>
</div>
<%-partial('./projects/main')%>
<div class="row" id="about">
  <div class="col-md-5 mb-3 d-md-flex flex-column">
    <div class="card shadow mb-5">
      <div class="card-header">Technical Skills</div>
      <div class="card-body">
        <ul class="list-group d-flex flex-column fs-6 fw-light">
          <li class="row">
            <div class="col-5">JavaScript</div>
            <div class="col-7">
              <div
                class="progress"
                role="progressbar"
                aria-label="Progress bar"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar"
                  style="width: 90%; background: #ffda3e"
                ></div>
              </div>
            </div>
          </li>
          <li class="row">
            <div class="col-5">HTML/CSS</div>
            <div class="col-7">
              <div
                class="progress"
                role="progressbar"
                aria-label="Progress bar"
                aria-valuenow="85"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar"
                  style="
                    width: 85%;
                    background: linear-gradient(
                      90deg,
                      rgba(241, 101, 40, 1) 0%,
                      rgba(36, 101, 241, 1) 100%
                    );
                  "
                ></div>

                <!-- #2465F1 -->
              </div>
            </div>
          </li>
          <li class="row">
            <div class="col-5">React</div>
            <div class="col-7">
              <div
                class="progress"
                role="progressbar"
                aria-label="Progress bar"
                aria-valuenow="70"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar"
                  style="width: 70%; background: #00d8ff"
                ></div>
              </div>
            </div>
          </li>
          <li class="row">
            <div class="col-5">Express</div>
            <div class="col-7">
              <div
                class="progress"
                role="progressbar"
                aria-label="Progress bar"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar"
                  style="width: 50%; background: grey"
                ></div>
              </div>
            </div>
          </li>
          <li class="row">
            <div class="col-5">MongoDB</div>
            <div class="col-7">
              <div
                class="progress"
                role="progressbar"
                aria-label="Progress bar"
                aria-valuenow="30"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar"
                  style="width: 30%; background: #4eb03f"
                ></div>
              </div>
            </div>
          </li>
          <li class="row">
            <div class="col-5">Terminal - Bash</div>
            <div class="col-7">
              <div
                class="progress"
                role="progressbar"
                aria-label="Progress bar"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar"
                  style="width: 40%; background: #3b4346"
                ></div>
              </div>
            </div>
          </li>
          <li class="row">
            <div class="col-5">Git & GitHub</div>
            <div class="col-7">
              <div
                class="progress"
                role="progressbar"
                aria-label="Progress bar"
                aria-valuenow="45"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="progress-bar"
                  style="width: 45%; background: #f05033"
                ></div>
              </div>
            </div>
          </li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="card shadow">
      <div class="card-body">
        <h3 class="card-title mb-2 text-primary">Hobbies</h3>
        <div class="card border-light">
          <div class="img-container">
            <img src="images/running.jpg" alt="Run" class="img-fluid rounded" />
          </div>

          <div class="card-body">
            <h5 class="card-title mb-2">Trail running</h5>
            <p class="card-text">Currently training for ultramarathon</p>
          </div>
        </div>
        <div class="card border-light">
          <div class="img-container">
            <img src="images/books.jpg" alt="Books" class="rounded" />
          </div>

          <div class="card-body">
            <h5 class="card-title mb-2">Books</h5>
            <p class="card-text">Reading and listening on every occasion</p>
          </div>
        </div>
        <div class="card border-light">
          <div class="img-container">
            <img src="images/flags.jpg" alt="Flags" class="rounded" />
          </div>

          <div class="card-body">
            <h5 class="card-title mb-2">Languages</h5>
            <p class="card-text">Love learning and teaching languages</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 d-md-flex flex-column mb-3">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-title mb-2 text-primary-emphasis display-6">
          Work & Education
        </h4>
        <div class="card border-light mb-3">
          <div class="row">
            <div
              class="col-md-4 d-flex align-items-center justify-content-center"
            >
              <a href="https://edwings.pl/" target="_blank"
                ><img
                  src="images/edwings.png"
                  alt="EdWings logo"
                  class="ms-2 img-fluid rounded"
              /></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-subtitle text-body-tertiary fw-normal pb-2">
                  Oct 2021 - Current
                </h6>
                <h5 class="card-title">Regional Manager - Robotics Classes</h5>
                <p class="card-text">
                  Experienced manager overseeing robotics classes, ensuring
                  exceptional educational programs, and fostering innovation.
                  Leading a team of instructors to inspire young minds in the
                  field of robotics.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-light mb-3">
          <div class="row">
            <div
              class="col-md-4 d-flex align-items-center justify-content-center"
            >
              <a href="https://umg.edu.pl/en/" target="_blank"
                ><img
                  src="images/umg.png"
                  alt="UMG logo"
                  class="img-fluid rounded"
              /></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-subtitle text-body-tertiary fw-normal pb-2">
                  Oct 2021 - Current
                </h6>
                <h5 class="card-title">Logistics Student</h5>
                <p class="card-text">
                  Dedicated student pursuing logistics studies, gaining
                  expertise in supply chain management, transportation, and
                  inventory control. Acquiring knowledge and skills to optimize
                  logistics operations in diverse industries.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-light mb-3">
          <div class="row">
            <div
              class="col-md-4 d-flex align-items-center justify-content-center"
            >
              <a href="https://about.ikea.com/en/about-us" target="_blank"
                ><img
                  src="images/ikea.png"
                  alt="Ikea Logo"
                  class="ms-md-4 img-fluid rounded"
              /></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h6 class="card-subtitle text-body-tertiary fw-normal pb-2">
                  May 2021 - Sept 2021
                </h6>
                <h5 class="card-title">Warehouse Logistics</h5>
                <p class="card-text">
                  Proficient in warehouse logistics, implementing efficient
                  processes for inventory management, storage, and distribution.
                  Utilizing industry best practices to maximize productivity and
                  streamline warehouse operations.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
